@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@theme inline {
	--aspect-card: 54/85;

	--color-primary-background: var(--color-blue-200);
	--color-primary-foreground: var(--color-blue-500);
	--color-secondary-background: var(--color-orange-200);
	--color-secondary-foreground: var(--color-orange-500);
}

@theme {
	--shadow-highlight-sm: 0 0 5px rgba(0, 0, 0, 0.25);
	--shadow-highlight-md: 0 0 15px 3px rgba(0, 0, 0, 0.75);
}

@layer base {
	button:not(:disabled),
	[role='button']:not(:disabled) {
		cursor: pointer;
	}
}
